<div class="buy_pro">
  <button (click)="show_select = true; step = 1">立即预约</button>
</div>
<div class="pro_top">
  <i routerLink="/index" class="fa fa-mail-reply fa-fw"></i>
  <span>{{ product.name }}</span>
</div>
<div class="pro_main">
  <div class="bg_img">
    <img src="../../assets/img/detail-bg.f30033c3.png" alt=""/>
  </div>
  <div class="product_message">
    <div class="picture">
      <img [src]="getPic(product.homePage)" alt="产品主图"/>
      <div class="name_price">
        <h2 class="name_container">
          {{product.name}}
          <span class="price">{{ product.money }}</span>
        </h2>
      </div>
    </div>
    <div style="height: 30px"></div>
    <div>
      <img width="100%" src="../../assets/img/产品服务.png" alt="产品服务"/>
    </div>
  </div>

  <div class="product_introduce">
    <div>
      <div class="pro_intro_title" (click)="ClickDisplay()">
        产品详情
      </div>
      <div class="pro_intro_title" (click)="ClickInfo()">
        服务内容
      </div>
    </div>
    <div *ngIf="productInfoFlag; else info">
      <div class="pro_intro_main">
        <img *ngFor="let item of product.pages" [src]="getPic(item)"/>
      </div>
    </div>
  </div>
</div>

<ng-template #info>
  <img src="" alt="服务介绍"/>
</ng-template>

<div (click)="show_select = false" *ngIf="show_select" class="select_all"></div>
<div *ngIf="show_select && step === 1" class="select_thing_time_num">
  <!--     <div class="time">
        <div class="mar">预约时间</div>
        <input class="mar" type="datetime-local" value="2020-03-13T13:00"/>
    </div> -->
  <!--     <div class="number">
          <div class="pro_mess_me">
            <div class="mar">数量：</div>
            <div class="pro_mess_member mar">
              <div (click)='changeNum(-1)'><img src="../../assets/img/reduce.png" alt=""></div>
              <div class="buy_member">{{buynumber}}</div>
              <div (click)='changeNum(1)'><img src="../../assets/img/add.png" alt=""></div>
            </div>
          </div>
    </div> -->
  <div class="sele_head">
    <h1 class="sele_head_name">{{ product.name }}</h1>
    <div class="sele_head_name_two">
      已选套餐：{{
      cartService.order.productInfoId
        ? cartService.order.productInfoId
        : "未选择"
      }}
    </div>
  </div>
  <div class="submit_body">
    <div class="part_main">
      <header class="part_header">
        <h2 class="product_title">产品类型</h2>
      </header>
      <div class="checkbox_group">
        <div
          [ngClass]="{
        type_main_active: seleType === item.id,
        type_main: seleType !== item.id
      }"
          *ngFor="let item of product.infos"
          (click)="selectProduct(item.id, item.price); seleType = item.id"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="show_select" class="buy_first">
  <p class="sum_price">
    价格:&nbsp;
    <span class="all_money">
      <span class="yen_money">{{
        product.money | currency: "CNY":"symbol-narrow"
        }}</span>
    </span>
  </p>
  <button routerLink="/Adress" (click)="ByNext()">下一步</button>
</div>
