# Idea #
.idea
*.iml
*.log

# Gradle #
.gradle/
gradle/
gradlew
gradlew.bat

# Build #
build/

# Api #
target/

# Web #
node_modules/
dist/

# Output #
___output/

# Shell #
__pycache__/