* {
  margin: 0;
  padding: 0;
}

html, body, #app, .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei",
  arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none
}

/*TagsView和Content位置*/
.main-container {
  background: none repeat scroll 0 0 #f0f0f0;
  position: absolute;
  left: 200px;
  right: 0;
  top: 40px;
  bottom: 0;
  width: auto;
  box-sizing: border-box;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

/*侧边栏收缩后的宽度*/
.main-collapse {
  left: 58px;
}

.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background-color: #20a0ff;

  .collapse-btn {
    float: left;
    padding: 0 21px;
    cursor: pointer;
  }

  .collapse-btn:hover {
    background: rgb(40, 52, 70);
  }

  .logo {
    float: left;
    padding-left: 5px;
    width: 250px;
  }

  .user-info {
    float: right;
    padding-right: 50px;
    font-size: 14px;
    color: #fff;

    .el-dropdown-link {
      position: relative;
      display: inline-block;
      padding-left: 40px;
      color: #fff;
      cursor: pointer;
      vertical-align: middle;
    }

    .user-logo {
      position: absolute;
      left: 0;
      top: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .el-dropdown-menu__item {
      text-align: center;
    }
  }

}

.sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 0;

  .sidebar-el-menu:not(.el-menu--collapse) {
    width: 200px;
  }

  ul {
    height: 100%;
  }

  .left-menu .el-submenu__title .el-icon-arrow-right {
    display: none;
  }
}

.content {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 6px 0 6px;
  border-top: 6px solid #e9eaec;
  background: #f6f6f6;
  overflow-y: scroll;

  .main-box {
    height: 100%;
  }

  .combine-box {
    height: 100%;
    display: flex;

    .aside-box {
      flex: none;
      width: 180px;
      height: inherit;
      padding-right: 6px;

      & > .el-table--fit {
        height: 100%;
      }
    }

    .right-box {
      height: inherit;
      flex: 1;
    }
  }

  .handle-box {
    background: #f5fafe;
    padding: 6px;
    margin-bottom: 6px;

    .operate-box {
    }

    .search-box {
    }
  }

  .container {
  }
}

.tags {
  position: relative;
  height: 30px;
  overflow: hidden;
  background: #fff;
  padding-right: 120px;

  ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .tags-li {
      float: left;
      margin: 3px 5px 2px 3px;
      border-radius: 3px;
      font-size: 12px;
      overflow: hidden;
      cursor: pointer;
      height: 23px;
      line-height: 23px;
      border: 1px solid #e9eaec;
      background: #fff;
      padding: 0 5px 0 12px;
      vertical-align: middle;
      color: #666;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    .tags-li:not(.active):hover {
      background: #f8f8f8;
    }

    .active {
      color: #fff;
      border: 1px solid #409eff;
      background-color: #409eff;
    }

    .tags-li-title {
      float: left;
      max-width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 5px;
      color: #666;
    }

    .tags-li.active .tags-li-title {
      color: #fff;
    }
  }

  .tags-close-box {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 1px;
    text-align: center;
    width: 110px;
    height: 30px;
    background: #fff;
    box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
}














