/*Table表格表头,单元格居中*/
//.el-table, .el-table th {
//  text-align: center;
//}

/* 鼠标悬浮table */
.cell-icon {
  cursor: pointer;
}

/*批量删除按钮*/
.pagination .el-button {
  margin-left: 10px;
  float: left;
}

/*翻页导航*/
.pagination {
  margin: 20px 0 20px 0;
  text-align: right;
}

/*自定义树形控件样式*/
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 6px;
}

//穿梭框居中div
.allot-transfer {
  text-align: center
}

//穿梭框
.el-transfer {
  text-align: left;
  display: inline-block
}
