package ${package.Controller};


import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * @author ${author}
 * @description ${entity} 前端控制器
 * @date ${date}
 */
@RestController
@RequestMapping("/${table.entityPath}")
public class ${table.controllerName} {


}