package ${package.Controller};


import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import io.swagger.annotations.Api;

/**
 * @author ${author}
 * @description ${entity} 前端控制器
 * @date ${date}
 */
@RestController
@RequestMapping("api/${table.entityPath}")
@Api(tags = "${entity}", description = "操作接口")
public class ${table.controllerName} {


}