<div class="body" id="body">
  <div class="page_main" id="page_main">
    <router-outlet></router-outlet>
  </div>
<div class="menu">
  <div routerLink='/index' routerLinkActive="active" class="menu_function">
    <div class="fa fa-list-ul"></div><div>首页</div>
  </div>
  <!-- <div routerLink='/appointment' routerLinkActive="active" class="menu_function">
    <div class="fa fa-eye"></div><div>预约</div>
  </div> -->
  <div routerLink='/order' routerLinkActive="active" class="menu_function">
    <div class="fa fa-sticky-note-o"></div><div>订单</div>
  </div>
  <div routerLink='/mine' routerLinkActive="active" class="menu_function">
    <div class="fa fa-user-circle-o"></div><div>我的</div>
  </div>
</div>
</div>