<div class="mine_page">
    <div class="top_mess">
        <div class="top_mess_img">
            <img src="../../assets/img/2.jpg" alt="">
        </div>
        <div class="top_mess_name">
            187****1234
        </div>
    </div>
    <div class="mine_function">
        <div class="tit_fir">
            <i class="fa fa-drivers-license-o"></i>
            <span>个人资料</span>
        </div>
        <div>
            <img src="../../assets/img/arrow.png" alt="">
        </div>
    </div>
</div>
