<div *ngIf="adress;else schedule" class="select_thing_shop">
    <div class="address_head">
        <h1>选择店铺</h1>
    </div>
    <div class="shop" *ngFor="let item of shops">
        <div class="shop_left">
            <div class="img_shop">

                <img src="../../assets/img/shop.png" alt="">
            </div>
            <div class="shop_left_mess_name">
                <span class="shop_name">{{item.name}}</span>

            </div>
            <div class="shop_left_mess">
                <div class="tit_sma">{{item.adress}}</div>
                <div class="tit_sma">时间：{{item.open}}:00-{{item.close}}:00</div>
            </div>
            <div class="shop_left_mess_buttom">
                <span>电话：{{item.phone}}</span>
                <button (click)="SelectShop(item.id)">选择</button>
            </div>

        </div>
    </div>
</div>

<ng-template #schedule>
    <div class="sele_date">
        <div [ngClass]="{ 'date_main_active': selectDay === day , 'date_main': selectDay !== day }" *ngFor="let day of week">
            <div (click)="SelectDay(GetDateStr(day));selectDay = day">
                {{GetDateStr(day) | date : 'MM月dd日'}}
            </div>
        </div>
    </div>
    <div class="time_all" *ngIf="showSchedule">
        <div [ngClass]="{ 'time_main_activity': selectTime === item.time , 'time_main': selectTime !== item.time }" *ngFor="let item of GetScheduInfo()">
            <div (click)="Order(item.time,item.flag);selectTime = item.time; showPayButton = true">
                {{item.time | date: 'HH:mm'}}&nbsp;到店
                <br>
                {{item.flag ? '可预约' : '已满'}}
            </div>
        </div>
    </div>
    <div *ngIf = 'showPayButton' class="buy_pro">
        <button routerLink = '/order'>立即预约</button>
    </div>
</ng-template>