package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * @Description ${entity} 数据访问层
 * @Author 陈昭宇
 * @Date $date
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
