<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.domain.mapper.RoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.team.domain.entity.RoleEntity"
               extends="com.team.domain.infrastructure.MybatisBaseMapper.BaseResultMap">

    </resultMap>
    <select id="selectAllByLoginName" resultType="com.team.domain.entity.RoleEntity">
        select r.* from sys_user u
        inner join sys_user_role ur on ur.user_id = u.user_id
        inner join sys_role r on ur.role_id = r.role_id
        where u.login_name=#{loginName}
    </select>
</mapper>
