<div class="index_main">
    <div class="rotation_chart">
        <div style="width: 100%;display: flex;align-items: center;justify-content: center;margin: 4% 0;">
            <img style="width: 94%;box-shadow: 2px 2px 9px #b1b1b9;" src="../../assets/img/lunbo.jpg" alt="">
        </div>
    </div>

    <div class="bac_col">

    </div>


    <div class="product_main">
        <div class="productList_title">
            <span class="proList_tit_left">
                <span style='font-size:18px;font-weight:bold;padding-right:2%;display: inline-block;'>证件照</span>
                <span style="color:#a6a6a9;font-style:italic;">Certificates</span>
            </span>
            <!-- <span class="proList_tit_right">
                MORE >
            </span> -->
        </div>

        <div class="pro_two">

            <span  [routerLink]="['/product']"  [queryParams]="{id:1}">
                <div><img src="../../assets/img/zj1.jpg" alt=""></div>
                <div>各国签证</div>
            </span>
            <span  [routerLink]="['/product']"  [queryParams]="{id:2}">
                <div><img src="../../assets/img/zj2.jpg" alt=""></div>
                <div>三色证件</div>
            </span>

        </div>

        <div class="pro_two">

            <span  [routerLink]="['/product']"  [queryParams]="{id:3}">
                <div><img src="../../assets/img/zj3.jpg" alt=""></div>
                <div>两色证件</div>
            </span>
            <!-- <span>
                    <div><img src="../../assets/img/jhdj.jpg" alt=""></div>
                    <div>结婚登记照</div>
                </span> -->

        </div>


    </div>

    <div class="bac_col"></div>

    <div class="product_main">
        <div class="productList_title">
            <span class="proList_tit_left">
                <span style='font-size:18px;font-weight:bold;padding-right:2%;display: inline-block;'>形象照专区</span>
                <span style="color:#a6a6a9;font-style:italic;">Figure</span>
            </span>
        </div>

        <div class="pro_two">
            <span   [routerLink]="['/product']"  [queryParams]="{id:4}">
                <div><img src="../../assets/img/xxz1.jpg" alt=""></div>
                <div>形象照</div>
            </span>
        </div>

    </div>

    <div class="bac_col"></div>

    <div class="product_main">
        <div class="productList_title">
            <span class="proList_tit_left">
                <span style='font-size:18px;font-weight:bold;padding-right:2%;display: inline-block;'>轻写真专区</span>
                <span style="color:#a6a6a9;font-style:italic;">Portrait</span>
            </span>
        </div>

        <div class="pro_two">
            <span  [routerLink]="['/product']"  [queryParams]="{id:5}">
                <div><img src="../../assets/img/gmsgg.jpg" alt=""></div>
                <div>闺蜜四宫格</div>
            </span>
            <span  [routerLink]="['/product']"  [queryParams]="{id:6}">
                <div><img src="../../assets/img/qlsgg.jpg" alt=""></div>
                <div>情侣四宫格</div>
            </span>
        </div>
        <div class="pro_two">

        </div>

    </div>

</div>