/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    overflow: auto;
}
.menu {
    color: #b5b5c4;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -1px 10px #b5b5c4;
    align-items: center;
    z-index: 1000;
    background: white;
}
.menu_function {
    width: 20%;
    text-align: center;
}
// .menu .menu_function:nth-child(1)  {
//     color: #1989fa;
// }
.page_main {
    overflow: auto;
}