<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.domain.mapper.PermissionMapper">

    <select id="selectAllByRoleIds" resultType="com.team.domain.entity.PermissionEntity">
        select f.* from sys_role r
        inner join sys_role_function rf on rf.role_id=r.role_id
        inner join sys_function f on f.function_id=rf.function_id
        where r.role_id in
        <foreach collection="roleIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by rf.function_id
    </select>

    <!--根据用户id查询该用户所有菜单-->
    <select id="selectAllByUserId" resultType="com.team.domain.entity.PermissionEntity">
        select DISTINCT f.* from sys_role_function rf
        inner join sys_function f on f.function_id=rf.function_id
        inner join sys_user_role ur on ur.role_id=rf.role_id
        where ur.user_id=#{userId}
        group by rf.function_id
    </select>

</mapper>
